<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- <link rel="stylesheet" href="/css/HeaderFooter.css"> -->
    <!-- <link rel="stylesheet" href="/css/AddProductByFMN.css"> -->
    <!-- <link rel="stylesheet" href="/css/AddProductByFMN_.css"> -->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="border-bottom:1px solid white;">
                <a class="navbar-brand sticky-top" href="#">Hcat電利超商</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/ProductByFMN">管理產品</a>
                      </li>
                    <!-- <li class="nav-item" id="SignOut">
                      <a class="nav-link" href="#">登出</a>
                    </li> -->
                  </ul>
                </div>
    </nav>
    <!-- <span style="color:red;">&nbsp(必填)</span> -->
    <!-- 新增產品表單 -->
    <div class="wrap" style="width:50%;height:100%;margin:0 auto;margin-top:60px;margin-bottom:60px;border:1px solid #dbdbdb;border-radius: 25px;padding:20px;">
        <form name="addform" id="addProductForm" action="/Product/AddProductByFMN" method="post" accept-charset="utf-8">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="p_SYMBOL">產品代號</label>
                <input type="text" class="form-control" name="p_SYMBOL" id="p_SYMBOL" placeholder="ex:NCCU19" maxlength="8" required>
              </div>
              <div class="form-group col-md-4">
                    <label for="p_name">產品名稱</label>
                    <input type="text" class="form-control" name="p_name" id="p_name" placeholder="ex:政大一號" maxlength="6" required>
               </div>
               <div class="form-group col-md-4">
                    <label for="p_location">產品所在地</label>
                    <input type="text" class="form-control" name="p_location" id="p_location" placeholder="ex:台北" maxlength="6" required>
               </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="p_pricing">產品定價</label>
                      <input type="text" class="form-control" name="p_pricing" id="p_pricing" placeholder="ex:500" required>
                    </div>
                    <div class="form-group col-md-4">
                          <label for="p_duration">專案年數</label>
                          <input type="text" class="form-control" name="p_duration" id="p_duration" placeholder="ex:10" required>
                     </div>
                     <div class="form-group col-md-4">
                          <label for="p_currency">幣別</label>
                          <input type="text" class="form-control" name="p_currency" id="p_currency" placeholder="ex:NTD" required>
                     </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="p_irr">預期內部報酬率(%)</label>
                      <input type="text" class="form-control" name="p_irr" id="p_irr" placeholder="ex:4.8" required>
                    </div>
                    <div class="form-group col-md-4">
                          <label for="p_releasedate">募資專案權利義務起始日</label>
                          <input type="text" class="form-control" name="p_releasedate" id="p_releasedate" placeholder="ex:YYYYMMDDHHMM" required>
                     </div>
                     <div class="form-group col-md-4">
                          <label for="p_validdate">募資專案權利義務截止日</label>
                          <input type="text" class="form-control" name="p_validdate" id="p_validdate" placeholder="ex:YYYYMMDDHHMM" required>
                     </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="p_size">專案規模(kw)</label>
                      <input type="text" class="form-control" name="p_size" id="p_size" placeholder="ex:200" required>
                    </div>
                    <div class="form-group col-md-4">
                          <label for="p_totalrelease">產品總發行量(個)</label>
                          <input type="text" class="form-control" name="p_totalrelease" id="p_totalrelease" placeholder="ex:330" required>
                     </div>
                     <div class="form-group col-md-4">
                      <label for="p_fundingType">募款類型</label>
                        <br>
                        <label>
                          <input type="radio"  name="p_fundingType" id="p_fundingType" value="1" checked>公募(PO)
                        </label>
                        <label>
                          <input type="radio"  name="p_fundingType" id="p_fundingType" value="2">私募(PP)
                        </label>
                     </div>
            </div>
            <div class="form-row">
                     <div class="form-group col-md-4">
                      <label for="p_isNewCase">舊案/新案</label>
                        <br>
                        <label>
                          <input type="radio"  name="p_isNewCase" id="p_isNewCase" value="1" checked>舊案
                        </label>
                        <label>
                          <input type="radio"  name="p_isNewCase" id="p_isNewCase" value="2">新案
                        </label>
                     </div>
                     <div class="form-group col-md-4">
                          <label for="p_RPT">收益總期數</label>
                          <input type="text" class="form-control" name="p_RPT" id="p_RPT" placeholder="ex:80" required>
                     </div>
                     <div class="form-group col-md-4">
                      <label for="p_FRP">預估回收年限(年數/月數)</label>
                      <input type="text" class="form-control" name="p_FRP" id="p_FRP" placeholder="ex:20/10" required>
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="p_fundingGoal">專案募資目標(個)</label>
                  <input type="text" class="form-control" name="p_fundingGoal" id="p_fundingGoal" placeholder="ex:800" required>
                </div>
                <!-- <div class="form-group col-md-4">
                  <label for="p_HCAT721uri">專案於公鏈或政府官方文件</label>
                  <input type="text" class="form-control" name="p_HCAT721uri" id="p_HCAT721uri" placeholder="" required>
                </div> -->
                <div class="form-group col-md-4">
                  <label for="p_EPCname">EPC名稱</label>
                  <input type="text" class="form-control" name="p_EPCname" id="p_EPCname" placeholder="" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="p_ForecastedAnnualIncomePerModule">預估平均年收益(元/片)</label>
                  <input type="text" class="form-control" name="p_ForecastedAnnualIncomePerModule" id="p_ForecastedAnnualIncomePerModule" placeholder="ex:200" required>
                </div>
            </div>
            <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="p_FRP">預估回收年限</label>
                      <input type="text" class="form-control" name="p_FRP" id="p_FRP" placeholder="ex:8">
                    </div>
                    <div class="form-group col-md-6">
                          <label for="p_Timeline">預估進度圖</label>
                          <input type="text" class="form-control" name="p_Timeline" id="p_Timeline" placeholder="ex:">
                     </div>
            </div> -->
            <div class="form-row">
              <div class="form-group col-md-4" hidden>
                  <label for="p_PSD">專案開始日期</label>
                  <input type="text" class="form-control" name="p_PSD" id="p_PSD" placeholder="ex:YYYYMMDDHHMM" value="99999" required>
              </div>
              <div class="form-group col-md-6">
                <label for="p_CFSD">募資起始日</label>
                <input type="text" class="form-control" name="p_CFSD" id="p_CFSD" placeholder="ex:YYYYMMDDHHMM" required>
              </div>
              <div class="form-group col-md-6">
                    <label for="p_CFED">募資截止日</label>
                    <input type="text" class="form-control" name="p_CFED" id="p_CFED" placeholder="ex:YYYYMMDDHHMM" required>
               </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="p_TaiPowerApprovalDate">台電並聯審查意見書日期</label>
                <input type="text" class="form-control" name="p_TaiPowerApprovalDate" id="p_TaiPowerApprovalDate" placeholder="ex:YYYYMMDD" required>
              </div>
              <div class="form-group col-md-6">
                    <label for="p_BOEApprovalDate">能源局同意備案函日期</label>
                    <input type="text" class="form-control" name="p_BOEApprovalDate" id="p_BOEApprovalDate" placeholder="ex:YYYYMMDD" required>
               </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="p_PVTrialOperationDate">併聯試運轉日期</label>
                <input type="text" class="form-control" name="p_PVTrialOperationDate" id="p_PVTrialOperationDate" placeholder="ex:YYYYMMDD" required>
              </div>
              <div class="form-group col-md-6">
                    <label for="p_PVOnGridDate">正式掛表日期(正式售電起始日)</label>
                    <input type="text" class="form-control" name="p_PVOnGridDate" id="p_PVOnGridDate" placeholder="ex:YYYYMMDD" required>
               </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="p_ContractOut">工程發包日期</label>
                  <input type="text" class="form-control" name="p_ContractOut" id="p_ContractOut" placeholder="ex:YYYYMMDD" required>
              </div>
              <div class="form-group col-md-6">
                <label for="p_CaseConstruction">案場建置完成日期</label>
                <input type="text" class="form-control" name="p_CaseConstruction" id="p_CaseConstruction" placeholder="ex:YYYYMMDD" required>
              </div>
              <div class="form-group col-md-4" hidden>
                    <label for="p_ElectricityBilling">電費計費開始日期</label>
                    <input type="text" class="form-control" name="p_ElectricityBilling" id="p_ElectricityBilling" value="999" placeholder="ex:YYYYMMDD" required>
               </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="p_pvSiteintro">產品文案</label>
                <textarea class="form-control" name="p_pvSiteintro" id="p_pvSiteintro" style="width:100%;height: 200px;" maxlength="200" required></textarea>
              </div>
            </div>
            <!-- 以下為隱藏欄位，為上傳文件的網址 -->
            <input type="text" name="p_icon" id="p_icon" hidden>
            <input type="text" name="p_assetdocs" id="p_assetdocs" hidden>
            <input type="text" name="p_assetdocsHash" id="p_assetdocsHash" hidden>
            <input type="text" name="p_NotarizedRentalContract" id="p_NotarizedRentalContract" hidden>
            <input type="text" name="p_OnGridAuditedLetter" id="p_OnGridAuditedLetter" hidden>
            <input type="text" name="p_csvFIle" id="p_csvFIle" hidden>
            <input type="text" name="p_Image1" id="p_Image1" hidden>
            <input type="text" name="p_Image2" id="p_Image2" hidden>
            <input type="text" name="p_Image3" id="p_Image3" hidden>
            <input type="text" name="p_Image4" id="p_Image4" hidden>
            <input type="text" name="p_Image5" id="p_Image5" hidden>
            <input type="text" name="p_Image6" id="p_Image6" hidden>
            <input type="text" name="p_Image7" id="p_Image7" hidden>
            <input type="text" name="p_Image8" id="p_Image8" hidden>
            <input type="text" name="p_Image9" id="p_Image9" hidden>
            <input type="text" name="p_Image10" id="p_Image10" hidden>
        </form>
        <!-- 文件上傳表單 -->
        <form action="/upload" id="FileForm" method="post" enctype="multipart/form-data">
            <div class="form-row">
                    <!-- <div class="form-group col-md-4">
                            <label for="file">購售電合約</label>
                            <input type="file" class="form-control" name="file" id="file" />
                    </div> -->
                    <div class="form-group col-md-3">
                      <label for="p_NotarizedRentalContract_form">房屋與土地公證租約</label>
                      <input type="file" class="form-control" name="p_NotarizedRentalContract_form" id="p_NotarizedRentalContract_form" />
                    </div>
                    <div class="form-group col-md-3">
                      <label for="p_OnGridAuditedLetter_form">併聯審查意見書</label>
                      <input type="file" class="form-control" name="p_OnGridAuditedLetter_form" id="p_OnGridAuditedLetter_form" />
                    </div>
                    <div class="form-group col-md-3">
                            <label for="icon">產品icon</label>
                            <input type="file" class="form-control" name="icon" id="icon">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="csvFIle">CSV文件</label>
                      <input type="file" class="form-control" name="csvFIle" id="csvFIle">
                    </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="image1">案場圖片1</label>
                <input type="file" class="form-control" name="image1" id="image1">
              </div>
              <div class="form-group col-md-4">
                <label for="image2">案場圖片2</label>
                <input type="file" class="form-control" name="image2" id="image2">
              </div>
              <div class="form-group col-md-4">
                <label for="image3">案場圖片3</label>
                <input type="file" class="form-control" name="image3" id="image3">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="image4">案場圖片4</label>
                <input type="file" class="form-control" name="image4" id="image4">
              </div>
              <div class="form-group col-md-4">
                <label for="image5">案場圖片5</label>
                <input type="file" class="form-control" name="image5" id="image5">
              </div>
              <div class="form-group col-md-4">
                <label for="image6">案場圖片6</label>
                <input type="file" class="form-control" name="image6" id="image6">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="image7">案場圖片7</label>
                <input type="file" class="form-control" name="image7" id="image7">
              </div>
              <div class="form-group col-md-4">
                <label for="image8">案場圖片8</label>
                <input type="file" class="form-control" name="image8" id="image8">
              </div>
              <div class="form-group col-md-4">
                <label for="image9">案場圖片9</label>
                <input type="file" class="form-control" name="image9" id="image9">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="image10">案場圖片10</label>
                <input type="file" class="form-control" name="image10" id="image10">
              </div>
            </div>
        </form>
        <button type="button" id="addBtn" class="btn btn-primary" required>新增產品</button>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/web3.js"></script>
    <!-- <script src="/js/PDFtoImage.js"></script> -->
    <script src="/js/AddProductByFMN.js"></script>
</body>

</html>