<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
</head>

<body>
    <form name="addform" action="/Product/POST/AddProduct" method="post" accept-charset="utf-8" >
        <h1>Add Product</h1>
        <div>
            <label>Token代號(p_SYMBOL)</label>
            <input type="text" name="p_SYMBOL" placeholder="p_SYMBOL" />
        </div>
        <div>
            <label>產品名稱(p_name)</label>
            <input type="text" name="p_name" placeholder="p_name">
        </div>
        <div>
            <label>產品所在地(p_location)</label>
            <input type="text" name="p_location" placeholder="p_location">
        </div>
        <div>
            <label>產品定價(p_pricing)</label>
            <input type="text" name="p_pricing" placeholder="p_pricing">
        </div>
        <div>
            <label>專案年期(p_duration)</label>
            <input type="text" name="p_duration" placeholder="p_duration">
        </div>
        <div>
            <label>貨幣種類(p_currency)</label>
            <input type="text" name="p_currency" placeholder="p_currency">
        </div>
        <div>
            <label>投報率(p_irr)</label>
            <input type="text" name="p_irr" placeholder="p_irr">
        </div>

        <div>
            <label>發行日(p_releasedate)</label>
            <input type="text" name="p_releasedate" placeholder="p_releasedate">
        </div>
        <div>
            <label>到期日(p_validdate)</label>
            <input type="text" name="p_validdate" placeholder="p_validdate">
        </div>
        <div>
            <label>案場規模(p_size)</label>
            <input type="text" name="p_size" placeholder="p_size">
        </div>
        <div>
            <label>總發行量(p_totalrelease)</label>
            <input type="text" name="p_totalrelease" placeholder="p_totalrelease">
        </div>
        <div>
            <label>發行專案的產品經理(p_fundmanager)</label>
            <input type="text" name="p_fundmanager" placeholder="p_fundmanager">
        </div>
        <div>
            <label>該專案處理狀態(p_state)</label>
            <input type="text" name="p_state" placeholder="p_state">
        </div>

        <div>
            <input type='submit' value='Submit'>
            <input type='reset' value='Reset'>
            <input type='button' value='Back' onclick="javascript: location.href='/Product/GET/Product'">
        </div>
    </form>
</body>

</html>