<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>assetContractAPI</title>
    <style>
        .flex {
            display: flex;
        }

        .item {
            flex: 1;
            padding: 2rem;
        }
    </style>
</head>

<body>
    <div>
        <button id="deploy">部署合約</button>
        <button id="addAsset">新增資產</button>
        <button id="getAsset">token數量（幾個）</button>
        <button id="getAssetCount">資產數量（幾種）</button>
        <button id="getAssetIndex">資產種類</button>
        <button id="transferAsseter">轉移資產</button>
    </div>
    <hr>
    <div>
        <button id="getAssetsOwner">getAssetsOwner</button>
        <button id="getPlatform">getPlatform</button>
        <button id="getThirdparty">getThirdparty</button>
    </div>
    <hr>
    <div>
        <button id="getOwnerSign">getOwnerSign</button>
        <button id="getPlatformSign">getPlatformSign</button>
        <button id="getThirdpartySign">getThirdpartySign</button>
    </div>
    <hr>
    <div>
        <button id="ownerSign">ownerSign</button>
        <button id="platformSign">platformSign</button>
        <button id="thirdpartySign">thirdpartySign</button>
    </div>
    <hr>
    <div>
        <button id="changeAssetOwner">changeAssetOwner</button>
        <button id="changePlatform">changePlatform</button>
        <button id="changeThirdparty">changeThirdparty</button>
    </div>

    <div class="item" style="width:500px;">
        <h3>活動紀錄</h3>
        <pre id="logger"></pre>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>

<script>
    let logger = $('#logger');
    //把log印在網頁上
    function log(...inputs) {
        for (let input of inputs) {
            if (typeof input === 'object') {
                input = JSON.stringify(input, null, 2)
            }
            logger.html(input + '\n' + logger.html())
        }
    }

    let assetContract = "0x0";

    $('#deploy').on('click', function () {
        $.post('/assetContractAPI/POST/deploy', function (result) {
            log(result);
            assetContract = result.contractAddress;
        })
    })

    /*get地址*/
    $('#getAssetsOwner').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/GET/getAssetsOwner',{address: address}, function (result) {
            log(result);
        })
    })

    $('#getPlatform').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/GET/getPlatform',{address: address}, function (result) {
            log(result);
        })
    })

    $('#getThirdparty').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/GET/getThirdparty',{address: address}, function (result) {
            log(result);
        })
    })

    /*get簽名*/
    $('#getOwnerSign').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/GET/getOwnerSign',{address: address}, function (result) {
            log(result);
        })
    })

    $('#getPlatformSign').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/GET/getPlatformSign',{address: address}, function (result) {
            log(result);
        })
    })

    $('#getThirdpartySign').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/GET/getThirdpartySign',{address: address}, function (result) {
            log(result);
        })
    })

    /*簽名*/
    $('#ownerSign').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.post('/assetContractAPI/POST/ownerSign',function (result) {
            log(result);
        })
    })

    $('#platformSign').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.post('/assetContractAPI/POST/platformSign',function (result) {
            log(result);
        })
    })

    $('#thirdpartySign').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.get('/assetContractAPI/POST/thirdpartySign',function (result) {
            log(result);
        })
    })

    /*變更地址*/
    $('#changeAssetOwner').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.post('/assetContractAPI/POST/changeAssetOwner',function (result) {
            log(result);
        })
    })

    $('#changePlatform').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.post('/assetContractAPI/POST/changePlatform',function (result) {
            log(result);
        })
    })

    $('#changeThirdparty').on('click', function () {
        address = assetContract;
        log(assetContract);
        $.post('/assetContractAPI/POST/changeThirdparty',function (result) {
            log(result);
        })
    })





</script>


</html>